<!doctype html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <title>IApple</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>

  <header>
    <app-navbar></app-navbar>
  </header>

  <form class="ui form" id="create-form">
    <div class="field">
      <label>Name</label>
      <input type="text" name="phoneName" placeholder="Name" #phoneName>
    </div>
    <div class="field">
      <label>Price</label>
      <input type="number" name="phonePrice" placeholder="Price" #phonePrice>
    </div>
    <div class="field">
      <label>Image</label>
      <input type="file" name="phoneImage" #phoneImage>
    </div>
    <button (click)="addPhone(phoneName, phonePrice, phoneImage)" class="ui positive right floated button" type="submit">Submit</button>
  </form>

  <div class="ui cards" id="cards">
    <app-phone *ngFor="let phone of phones" [phone]="phone"></app-phone>
  </div>

  <app-form></app-form>

  <app-di></app-di>

</body>

</html>